<div class="container mx-auto mt-5" style="border: dashed 1px;">
  <div class="row" >
    <h1 class="mt-5 mb-3 text-center" style="color: blue; "><b>JeT Air</b></h1>
    <form [formGroup]="myform"(ngSubmit)="onSubmit(myform.value)">

      <div class="mx-auto mb-5 w-50" style="background-color: hotpink; border: solid 1px;">
        <label><b>Full Name</b></label>
        <span style="color: red" *ngIf="myform.get('fullname')?.errors?.['required']">*required</span>
        <input type="text" class="form-control" id="name" formControlName="name" required />
      </div>
      <div class="container ">
        <div class="row g-2 justify-content-center">
          <div class="col-3"style="background-color: hotpink; border: solid 1px;" >
            <label><b >From</b></label>
            <select class="form-select" formControlName="from">
              <option value="null">กรุณาเลือกสถานที่ต้นทาง</option>
              <option value="Thailand">Thailand</option>
              <option value="Laos">Laos</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Philippines">Philippines</option>
              <option value="Singapore">Singapore</option>
              <option value="Cambodia">Cambodia</option>
            </select>
          </div>
          <div class="col-3" style="background-color: hotpink; border: solid 1px;">
            <label><b>To</b></label>
            <select class="form-select" formControlName="to">
              <option value="null">กรุณาเลือกสถานที่ปลายทาง</option>
              <option value="Thailand">Thailand</option>
              <option value="Laos">Laos</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Philippines">Philippines</option>
              <option value="Singapore">Singapore</option>
              <option value="Cambodia">Cambodia</option>
            </select>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row g-2 justify-content-center mt-2">
          <div class="col-2" >
            <label><b>Trip Type</b></label> <span style="color: red" *ngIf="myform.get('type')?.errors?.['required']">*required</span><br/>
            <div class="mt-1" >
              <input class="form-check-input" type="radio" value="oneway" name="type" id="type" formControlName="triptype">
              <label class="form-check-label ms-2" for="type">One way</label>
              <input class="form-check-input ms-4" type="radio" value="return" name="type" id="type" formControlName="triptype">
              <label class="form-check-label ms-2" for="type">Return</label>
            </div>
          </div>
          <div class="col-2">
            <label><b>Departure</b></label> <span style="color: red" *ngIf="myform.get('departure')?.errors?.['required']">*required</span>
            <mat-form-field appearance="fill">
              <mat-label>Departure</mat-label>
              <input matInput [matDatepicker]="Departurepicker" [min]="startDate" [ngModel]="startDate" formControlName="departure">
              <mat-datepicker-toggle matSuffix [for]="Departurepicker"></mat-datepicker-toggle>
              <mat-datepicker #Departurepicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-2 ms-5" >
            <label><b>Arrival</b></label> <span style="color: red" *ngIf="myform.get('arrival')?.errors?.['required']">*required</span>
            <mat-form-field appearance="fill">
              <mat-label>Arrival</mat-label>
              <input matInput [matDatepicker]="Arrivalpicker" [min]="myform.value.departure" formControlName="arrival">
              <mat-datepicker-toggle matSuffix [for]="Arrivalpicker"></mat-datepicker-toggle>
              <mat-datepicker #Arrivalpicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row g-2 justify-content-center mt-2">
          <div class="col-2" style="background-color: hotpink; border: solid 1px;">
            <label><b>Adults</b></label>
            <span style="color: red" *ngIf="myform.get('adults')?.errors?.['required']">*required</span>
            <span style="color: red" *ngIf="myform.get('adults')?.errors?.['max']">*max 10 char</span>
            <span style="color: red" *ngIf="myform.get('adults')?.errors?.['pattern']">*pattern is not correct</span>
            <input type="number" class="form-control" id="adults" formControlName="adults" value="0" required />
          </div>
          <div class="col-2"  style="background-color: hotpink; border: solid 1px;">
            <label><b>Children</b></label>
            <span style="color: red" *ngIf="myform.get('children')?.errors?.['required']">*required</span>
            <span style="color: red" *ngIf="myform.get('children')?.errors?.['max']">*max 10 char</span>
            <span style="color: red" *ngIf="myform.get('children')?.errors?.['pattern']">*pattern is not correct</span>
            <input type="number" class="form-control" id="children" formControlName="children" value="0" required />
          </div>
          <div class="col-2"  style="background-color: hotpink; border: solid 1px;">
            <label><b>Infants</b></label>
            <span style="color: red" *ngIf="myform.get('infants')?.errors?.['required']">*required</span>
            <span style="color: red" *ngIf="myform.get('infants')?.errors?.['max']">*max 10 char</span>
            <span style="color: red" *ngIf="myform.get('infants')?.errors?.['pattern']">*pattern is not correct</span>
            <input type="number" class="form-control" id="infants" formControlName="infants" value="0" required />
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 mt-5 h-15 w-25 mx-auto">
        <button class="btn btn-primary" [disabled]="myform.invalid" type="submit" style="background-color: deeppink;">Submit</button>
      </div>
    </form>
  </div>
  <table class="table table-bordered mt-5">
    <thead style="background-color:rgb(214, 183, 243);">
      <tr style="text-align: center; color: blue; ">
        <th scope="col">Name</th>
        <th scope="col">Form</th>
        <th scope="col">To</th>
        <th scope="col">Trip Type</th>
        <th scope="col">Departure</th>
        <th scope="col">Arrival</th>
        <th scope="col">Adults</th>
        <th scope="col">Children</th>
        <th scope="col">Infants</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let flight of flight">
        <td>{{ flight.name }}</td>
        <td>{{ flight.from }}</td>
        <td>{{ flight.to }}</td>
        <td>{{ flight.triptype }}</td>
        <td>{{ flight.departure.getDate() + '/' + (flight.departure.getMonth() + 1) + '/' + flight.departure.getFullYear() }}</td>
        <td>{{ flight.arrival.getDate() + '/' + (flight.arrival.getMonth() + 1) + '/' + flight.arrival.getFullYear() }}</td>
        <td>{{ flight.adults }}</td>
        <td>{{ flight.children }}</td>
        <td>{{ flight.infants }}</td>
      </tr>

    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
